@import 'mixins';
header{
  .header_container {
    padding: 0px 20px;
  }

  position: fixed;
  z-index: 20;
  width: 100%;
  left: 0;
  top: 0;

  background-color: rgb(34,30,30);
  border-bottom: 1px solid #000;
  @include box-shadow(0,1px,2px,#000);

  nav{
    float: right;
    margin-top: 25px;

    // we need this as the screenshots are overlaying the nav...
    position: relative;
    z-index: 1;

    a {
    color: #ddd;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px 8px;
    &:hover {
      @include border-radius(5px);
      color: #fff;
      text-decoration: none;
      background-color: #000;
      }
    }

    .btn {
      margin: {
        left: 10px;
      }
    }
  }
}

.call_to_action {
  float: right;
  padding-right: 20px;
}
.floater {
  float: right;
}

.note{
  font-size:smaller;
  color:#999999;

}

body {
  margin-top: 70px;
}

#collage-container {
  text-align:center;
}

#header_logo{
  color: #000;
  text-decoration: none;
  font-size: 20px;
}

#contributors-container {
  width: 100%;
  position: absolute;
  z-index: 0;
  top: 0px;
  overflow: hidden;
  height: 300px;
}

#contributors{
  width: 10000px;
}

#publisher {
  input, textarea{
    font-size: 20px;
  width: 100%;
  }
}

#contributors{
  position: absolute;
  top: 0px;
  height: 100px;
  img{
    @include box-shadow(0, -2px, 10px, rgba(0,0,0,0.3));
    margin: 0px 2px;
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(0,0,0,0.15)));
  }
}

.avatar {
  height: 60px;
  width: 60px;
  padding: 2px;
}


footer {
  margin-top: 70px;
  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      a {
        color: #999;
        text-decoration: none;
      }
    }
  }
}

.contributor_avatar {
  @include box-shadow(0,2px,5px, #333);
  height: 120px;
  width: 120px;
  float: left;
  margin: {
    right: 20px;
  }
}

.contributor_info {
  position: relative;
  min-height: 150px;
  padding-left: 15px;
  h4{
    white-space: nowrap;
    
  }
}

#top_features {
  text-align: center;
}

#masthead {
  position: relative;
  background-color:#fcfcfc;
  box-shadow: inset 0 -1px 5px rgba(0,0,0,0.5);
  border-bottom: 1px solid #999;
  padding-top: 20px;
}

#contributors {
  top: 140px;
}

.hero.sidekick {
  z-index: 12;
  height: 220px;
}

#masthead h1,
#footer h1,
#masthead p,
#footer p {
  color: #111;
  z-index: 30;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
}
#masthead p a,
#footer p a {
  color: #fff;
  font-weight: bold;
}
#masthead h1,
#masthead p {
  text-align: center;
  margin-bottom: 9px;
}
#masthead h1 {
  font-size: 54px;
  line-height: 1.3;
  margin-bottom: 0;
  text-shadow: 0 1px 2px rgba(0,0,0,0.8), 0 0 10px #fff;
  color: #111;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.7)), to(rgba(0,0,0,1)));
}
#masthead p {
  font-weight: 300;
}
#masthead p.lead {
  font-size: 20px;
  line-height: 27px;
}

.potential_supporter {
  text-align: center;
  border: 2px dotted #ddd;
  height: 200px;
  border-radius: 5px;
  padding-top: 50px;

  h6 {
    padding: 10px;
  }
}

#donations {
  text-align: center;
}

section {
  padding: {
    top: 50px;
  }
}

#carousel {
  text-align: center;
  margin-top: -15px;
}

#carousel > div {
  position:relative;
  max-height: 575px;
  height: 600px;
}

#cubbies-overlay-container {
  position: absolute;
  display: inline-block;
  z-index: 5;
}

.rectangle_overlay {
  @include box-shadow(0,2px,20px,rgba(0,0,0,1));

  border: 1px solid #777;
  border-bottom: 1px solid #444;
  top: 405px;
  width: 500px;
  background-color: #fff;
  background-color: rgba(255,255,255,0.98);
  text-align: left;
  padding: 30px;
  z-index: 3;
  position: absolute;

  height: 112px;

  text-align: left;
  h2 {
    color: #111;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.8)), to(rgba(0,0,0,1)));
  }

  h4 {
    line-height: normal;
    margin-bottom: 15px;
    font-weight: normal;
  }

}

.hidden {
  display: none;
}

#overlay_container {
  @include transition(opacity, 0.1s);
}

.zero-opacity {
  opacity: 0;
}

/* hack to enable hardware acceleration on webkit browsers */
.accel {
  -webkit-transform: translateZ(0);
}

#backing-rectangle {
  background: {
    color: #838383
  }
  width: 100%;
  position: absolute;
  top: 355px;
  height: 160px;
  right: 50px;
  border-right: 1px solid #666;
  border-bottom: 2px solid #fff;
  border-top: 1px solid #666;
  z-index:2;

  background-image: linear-gradient(bottom, rgb(131,131,131) 16%, rgb(125,125,125) 83%);
  background-image: -o-linear-gradient(bottom, rgb(131,131,131) 16%, rgb(125,125,125) 83%);
  background-image: -moz-linear-gradient(bottom, rgb(131,131,131) 16%, rgb(125,125,125) 83%);
  background-image: -webkit-linear-gradient(bottom, rgb(131,131,131) 16%, rgb(125,125,125) 83%);
  background-image: -ms-linear-gradient(bottom, rgb(131,131,131) 16%, rgb(125,125,125) 83%);

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.16, rgb(131,131,131)),
    color-stop(0.83, rgb(125,125,125))
  );

  box-shadow: inset 0 1px 8px #555;
}

#carousel-pagers {
  position: absolute;
  left: 20px;
  top: 400px;
  z-index: 4;

  a {
    @include transition(color);
    color: #777;
    display: block;
    font-weight: bold;
    text-shadow: 0 -1px 0 #444;
    padding: 1px;
    margin: 2px;

    &:hover {
      text-decoration: none;
      color: #555;
    }

    &.active {
      color: #fff;
    }
  }
}

#triangle-top {
  border-color: transparent transparent darken(#888,10%) transparent;
  border-style:solid;
  border-width:50px;
  height:0px;
  width:50px;
  z-index: 1;
  position: absolute;
  top: 305px;
  right: 40px;
}

#triangle-bottom {
  border-color: darken(#888,10%) transparent transparent transparent ;
  -webkit-transform: rotate(90deg);
  border-style:solid;
  border-width:50px;
  height:0px;
  width:50px;
  z-index: 1;
  position: absolute;
  top: 440px;
  right: 40px;
}

#triangle-fill {
  position: absolute;
  display: inline-block;
  height:100px;
  width:50px;
  top: 405px;
  background-color: darken(#888,10%);
}

.cubbies-screenshot {
  position: absolute;
  z-index: 2;
  top: 20px;
  right: 60px;
}

.featured-users {
  position: absolute;
  z-index: 2;
  top: 20px;
  right: 80px;
}

.distributed {
  position: absolute;
  z-index: 2;
  top: 0px;
  right: 140px;
}

#masthead.hero {
  background-color:#fcfcfc;
  background-image: -moz-radial-gradient(50% 50%, circle cover, #fcfcfc, #e6e6e6 100%);
  background-image: -webkit-radial-gradient(50% 50%, circle cover, #fcfcfc, #e6e6e6 100%);
  background-image: -o-radial-gradient(50% 50%, circle cover, #fcfcfc, #e6e6e6 100%);
  background-image: -ms-radial-gradient(50% 50%, circle cover, #fcfcfc, #e6e6e6 100%);
  background-image: radial-gradient(50% 50%, circle cover, #fcfcfc, #e6e6e6 100%);
  background-image: -webkit-gradient(linear, 0% 68%, 0% 100%, from(#F2F2F2), to(#F7F7F7), color-stop(.5,#c1c1c1));
}

.inset {
  text-align: center;
  margin: {
    top: 20px;
    bottom: -40px;
  }
}

#get-involved-subnav {
  text-align: center;
  ul.pills {
    margin: 0;
  }

  .tabs > li, .pills > li {
    float: none;
    display: inline-block;
  }
}

#start-contributing {
  h6 {
    text-align: center;
  }
}

#contributor-count {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 10px;
  color: #666;
  text-shadow: 0 0px 3px #fff;
}

#CC-licence {
  text-align: center;
    font-size: 10px;
  span {
    font-size: 10px;
    color: #666;
  }

  a {
    font-size: 10px;
    color: #666;
  }
}
