body{
  text-align: left;
}

h1{
  letter-spacing: -2px;
}

h1#emphasis{
  font-weight: 700;
  text-shadow: 0px -1px 0 #fff;
}

header{
  padding: 20px;

  nav{
    float: right;
  }
}

#header_logo{
  color: #000;
  text-decoration: none;
  font-size: 20px;
}

#contributors{
  margin-top: -80px;
  height: 379px;
  width: 100%;
  overflow: hidden;
  position: relative;
  
}

#publisher {
  input, textarea{
    font-size: 20px;
  width: 100%;
  }
}

.backing{
  position: absolute;
  overflow: hidden;
  width: 120%;
  top: 0;
  left: 0;

  img{
    margin: 0px 2px;
  }
  img.faded{
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 1s;
    opacity: 0.3;
  }
  img.opaque{
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 1s;
    opacity: 1;
  }
}

#explanation {
  text-align: center;
  margin-top: -80px;
}

#big_join_button {
  border-radius: 5px;
  background-color: #2D5CBF;
  position: absolute;
  display: inline-block;
  bottom: -28px;
  right: 100px;
  padding: 10px 20px;
  padding-right: 45px;
  margin-bottom: 0;

  a {
    position: relative;
    color: white;
    text-decoration: none;
  }

  img {
    height: 55px;
    position: absolute;
    top: -12px;
    right: -50px;
  }
}

#top_half {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EBEBEB), to(#F7F7F7));
}

header {
  background-color: rgb(34,30,30);
  border-bottom: #fff;
}

#middle_box {
  .section {
    text-align: left;
  }
}

.section {
  text-align: center;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 1px 6px #eee;
  margin-bottom: 10px;
}

#top_features {
  .section {
    height: 260px;
  }
}

.avatar {
  height: 60px;
  width: 60px;
  padding: 2px;
}
