header {
  padding: 20px;
  background-color: #221e1e;
  border-bottom: #fff; }
  header nav {
    float: right;
    margin-top: 30px;
    position: relative;
    z-index: 1; }
    header nav a {
      /* color: #3f8fba;*/
      color: #ddd;
      font-size: 12px;
      text-transform: uppercase;
      text-decoration: none;
      padding: 5px 8px; }
      header nav a:hover {
        color: #ddd;
        text-decoration: none;
        background-color: #000;
        -moz-border-radius: 5px 5px 5px 5px;
        -webkit-border-radius: 5px 5px 5px 5px;
        border-radius: 5px 5px 5px 5px;
        -webkit-box-shadow: 0 1px 1px #666666;
        -moz-box-shadow: 0 1px 1px #666666;
        box-shadow: 0 1px 1px #666666;
        background-color: #222;
        border-top: 1px solid #000; }

#collage-container {
  text-align: center; }

#header_logo {
  color: #000;
  text-decoration: none;
  font-size: 20px; }

#contributors {
  z-index: 0;
  height: 379px;
  width: 120%;
  overflow: hidden;
  position: absolute;
  top: 0; }

#publisher input, #publisher textarea {
  font-size: 20px;
  width: 100%; }

#contributors img {
  margin: 0px 2px; }
#contributors img.faded {
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 1s;
  opacity: 0.6; }
#contributors img.opaque {
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 1s;
  opacity: 1; }

#top_half {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ebebeb), to(#f7f7f7));
  box-shadow: 0 1px 3px #ddd;
  border-bottom: 1px solid #ccc; }

.avatar {
  height: 60px;
  width: 60px;
  padding: 2px; }

footer {
  margin-top: 70px; }
  footer ul {
    margin: 0;
    padding: 0; }
    footer ul li {
      list-style: none; }
      footer ul li a {
        color: #999;
        text-decoration: none; }

#screenshot_collage {
  display: inline-block;
  height: 590px;
  width: 842px;
  position: relative;
  margin-top: -80px; }
  #screenshot_collage img {
    position: absolute;
    top: 0px;
    left: 0; }

.contributor_avatar {
  height: 75px;
  width: 75px; }

.contributor_info {
  position: relative; }

#top_features {
  text-align: center; }

#masthead {
  position: relative; }

.contributors,
#contributors {
  height: 250px; }

.contributors .inner {
  position: absolute;
  width: 100%;
  z-index: 12;
  padding-top: 55px; }

#masthead h1,
#footer h1,
#masthead p,
#footer p {
  z-index: 30;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3); }

#masthead p a,
#footer p a {
  color: #fff;
  font-weight: bold; }

#masthead h1,
#masthead p {
  text-align: center;
  margin-bottom: 9px; }

#masthead h1 {
  font-size: 54px;
  line-height: 1;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5); }

#masthead p {
  font-weight: 300; }

#masthead p.lead {
  font-size: 20px;
  line-height: 27px; }

.contributors .well {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); }

.potential_supporter {
  text-align: center;
  border: 2px dotted #ddd;
  height: 200px;
  border-radius: 5px;
  padding-top: 50px; }
  .potential_supporter h6 {
    padding: 10px; }

#donations {
  text-align: center; }
