body {
  text-align: left; }

h1 {
  letter-spacing: -2px; }

h1#emphasis {
  font-weight: 700;
  text-shadow: 0px -1px 0 white; }

header {
  padding: 20px; }
  header nav {
    float: right;
    margin-top: 22px;
    position: relative;
    z-index: 1; }
    header nav a {
      color: #3f8fba;
      font-size: 14px;
      text-transform: capitalize;
      text-decoration: none;
      -moz-border-radius: 5px 5px 5px 5px;
      -webkit-border-radius: 5px 5px 5px 5px;
      border-radius: 5px 5px 5px 5px;
      -webkit-box-shadow: 0 1px 1px #666666;
      -moz-box-shadow: 0 1px 1px #666666;
      box-shadow: 0 1px 1px #666666;
      padding: 5px 8px;
      background-color: #000;
      border-top: 1px solid #000; }
      header nav a:hover {
        color: #3f8fba;
        text-decoration: underline;
        background-color: #222; }

#header_logo {
  color: #000;
  text-decoration: none;
  font-size: 20px; }

#contributors {
  height: 379px;
  width: 100%;
  overflow: hidden;
  position: relative; }

#publisher input, #publisher textarea {
  font-size: 20px;
  width: 100%; }

.backing {
  position: absolute;
  overflow: hidden;
  width: 120%;
  top: 0;
  left: 0; }
  .backing img {
    margin: 0px 2px; }
  .backing img.faded {
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 1s;
    opacity: 0.3; }
  .backing img.opaque {
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 1s;
    opacity: 1; }

#explanation {
  text-align: center;
  margin-top: -80px; }

#big_join_button {
  border: 2px solid #234896;
  border-radius: 5px;
  background-color: #2D5CBF;
  position: absolute;
  display: inline-block;
  top: 647px;
  right: 100px;
  padding: 10px 20px;
  padding-right: 45px;
  margin-bottom: 0; }
  #big_join_button a {
    position: relative;
    color: white;
    text-decoration: none; }
  #big_join_button img {
    height: 55px;
    position: absolute;
    top: -12px;
    right: -50px; }

#top_half {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ebebeb), to(#f7f7f7));
  box-shadow: 0 1px 3px #ddd;
  border-bottom: 1px solid #ccc; }

header {
  background-color: #221e1e;
  border-bottom: #fff; }

#middle_box .section {
  text-align: left; }

.section {
  text-align: center;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 1px 6px #eee;
  margin-bottom: 10px; }

#top_features .section {
  height: 260px; }

.avatar {
  height: 60px;
  width: 60px;
  padding: 2px; }

footer {
  margin-top: 70px; }
  footer ul {
    margin: 0;
    padding: 0; }
    footer ul li {
      list-style: none; }
      footer ul li a {
        color: #999;
        text-decoration: none; }

#screenshot_collage {
  display: inline-block;
  height: 590px;
  width: 842px;
  position: relative; }
  #screenshot_collage img {
    position: absolute;
    top: 0px;
    left: 0; }

.contributor_info {
  padding: 20px;
  padding-left: 90px;
  position: relative; }
  .contributor_info img.contributor_avatar {
    position: absolute;
    left: 0; }

#github_stats {
  text-align: center;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin: 10px 0; }
  #github_stats .github_stats_section {
    text-align: left;
    padding: 20px; }
