.container
  .span-12
    %h1
      Diaspora is an ecosystem of sites centered around you
    %h3
      A description of the fuck yeah project.

  .clearfix

  .span-24.last
    .span-8
      some stuff
    .span-8
      some other stuff
    .span-8.last
      even more stuff
