.container
  .span-12.prepend-6.last
    %h1 yo dog donate
    one time:
    :erb
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="KARDBUAX2B8D8">
      <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
      </form>

    subscription:
    :erb
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="N24UFDL4RJJF4">
      <table>
      <tr><td><input type="hidden" name="on0" value=""></td></tr><tr><td><select name="os0">
        <option value="Supporter">Supporter : $5.00USD - monthly</option>
        <option value="Member">Member : $10.00USD - monthly</option>
        <option value="Freedom Fighter">Freedom Fighter : $20.00USD - monthly</option>
      </select> </td></tr>
      </table>
      <input type="hidden" name="currency_code" value="USD">
      <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribe_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
      </form>

    flattr
    = content_for :head do
      :javascript
        /* <![CDATA[ */
            (function() {
                var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
                s.type = 'text/javascript';
                s.async = true;
                s.src = 'http://api.flattr.com/js/0.6/load.js?mode=auto';
                t.parentNode.insertBefore(s, t);
            })();
        /* ]]> */

    :erb
      <a class="FlattrButton" style="display:none;" href="https://flattr.com/profile/Diaspora"></a>
      <noscript><a href="http://flattr.com/thing/382291/Diaspora-on-Flattr" target="_blank">
      <img src="http://api.flattr.com/button/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0" /></a></noscript>
