<%- content_for :page_title do %>
  <%= t('pages.get_involved.menu_title') %>
<% end %>

<div class="page-header">
  <h1><%= t('pages.get_involved.headline') %></h1>
</div>

<p><%= t('pages.home.welcome_paragraph') %></p>
