.container
  %h1
    Diaspora is a diverse community of passionate people around the world who belive we can change the social web for the better.
    Learn more about contributing your creativity to a new type of community project.

  %h3
    over 
    #number
      0
    contributions!
#contributors
  .backing

.container
  %h2
    open source
    %h3 
      open source communites are amazing things.  At Diaspora, we beleive that people should be valued by what they do.  It does not matter if you have contirbuted to a project before, or are an elite open source hacker.
      Contributing Diaspora means that you get to work on hard problems, with a focus on solutions that work for users.

      This is why if you contribute something meaningful to Diaspora, we will give you core commit access(what does that mean?). 
      We are in this together, so giving excited people the change to make huge changes always trumps keeping control sacred.

  %h2
    meet the core team
  %h3
    these are the people who have dedicated much of their time to making Diaspora awesome.  You can join this list by contributing here: http://github.com/diaspora/diaspora

  %p
    Daniel Grippi

    Raphael Sofaer

    Ilya Z

    Maxwell Salzberg 

    Sarah Mei

    Dan Hanson

    Dennis Schubert

    Johanne Hass

    Featured Contributors

    Jamie Wilkison

    Michael Nutt



