.container
  .span-20
    #explanation
      why diaspora
      %h1
        UN-REGULATED SHARE MACHINE
      %h1
        DISTRUBUTED SOCIAL HYDRA-SHARING-mbob
      %h1
        share the way Sir Tim wanted you to.
      %h1
        share the way you born to
      %h1
        The Whole Social Web is Now Your Playground.
      %h1
        Because the awesome of the internet can't be shoehorned to a single website.
      %h1
        Because everyone shares in differnt ways
      %h1
        Sharing from the future
      %h1
        fun stuff from the farthest buttholes of the internet
      %h1
        Let the web be your playground
      %h1
        Social Beyond a Single Website
      %h1
        your passport to the internet frontier
      %h1
        Because you never know where the next LOLcat is hiding.
      %h1
        Because you care about doing fun shit all over the web
      %h1
        Because nothing should stand between you and telling everyone you know about that awesome cat gif you found
      %h1 
        Sharing beyond the text box.
      %h1
        its like sharing without a seatbelt.
      %h1
        sharing without training wheels
      %h1
        Because sharing is your life
      %h1
        your ticket to the internet frontier
      %h1
        The internet is a big place, share where you want
      %h1
        Share once, enjoy forever
      %h1
        your passport to the web
      %h1
        your social creds on the web. 
      %h1
        Because space travel is for nerds.
      %h1
        sharing as awesome as the interweb itself 
      %h1
        because life is too short to share on one site
      %h1
        sharing is the stuff puppies and unicorns are made of
      %h2
        Diaspora is open source software that connects the great social expereinces across the web to you and the people you want to share with.
      %h3
        Diaspora brings the best parts of the web, small and focused applications, together.
        Our web of identity servers lets anyone join and take control of their data without losing the connectedness of today's internet.
      %h3
        Diaspora brings all the amazing and diverse sharing experiences across the web
      %h2
        because sharing is awesome, and social networking is hella boring

    


      Social networks are dumb.  They pile up your friends and links, and die like worthless carcasses after everybody leaves.

      Diaspora makes sharing online cool again.  Find a cool new site?  Hook it up to Diaspora, and don't worry whether grandma thema or your best friend bob will see it.  
      Diaspora gives you to power to share with whoever you want, however you want, all over the web, with no stuffy social network getting in the way.
      Find something new to share? No problem!  Feeling like your photos are stuck in 2001? Diaspora makes sure you can use the latest and greatest of what the internet has to offer.


      HOW DOES IT WORK?

      Diaspora is powered by the magic of open source.  That means that you are in charge how you want to share, and with who.  Diaspora doesn't force you to do things you don't want, 
      and makes sure that you can let all of the people you care about know about that great sandwhich you had for lunch.
      Whether its fuzzy LOLcats, breaking news stories, funny GIFs, or vital information to over throw goverments, sharing gives the internet meaning.
      A diaspora account gives you front row seats to the raw sharing titlewave of the web.


      
      %p 
        users
        1. get an account
        2. find awesome ways that fit the way you share.
        3. tell your friends
      

      
      
      #get_involved_link
        = link_to "Help Build Diaspora", page_path("get_involved")


  .span-24.last
    .span-12
      users
      1. get an account
      2. find awesome ways that fit the way you share.
      3. tell your friends
    .span-12.last
      devolpers
      1. get the code
      2. send epic pull requests
      3. build the future of the social web
