.container
  .span-12.prepend-6.last
    %h1 Supporters of Diaspora

    %h4
      First and foremost, Diaspora is made possible by the generous nature of our original 
      = link_to 'Kickstarter backers.','http://www.kickstarter.com/projects/196017994/diaspora-the-personally-controlled-do-it-all-distr/backers'
      Without them Diaspora could have never become the huge social movement it is today.

    %h2 
      Pivotal Labs
    %h3
      Pivotal both housed and mentored the core team the first year.  They taught us much about making amazing software.  If you have a startup and are looking to make sure everything goes smoothly, you should contact them.

    %h3 
      if you want to see your name here, you should 
      =link_to 'donate.', donate_path
