postgresql: &postgresql
  adapter: postgresql
  host: localhost
  port: 5432
  username: postgres
  password:
  encoding: unicode

mysql: &mysql
  adapter: mysql2
  host: localhost
  username:
  password:
  encoding: utf8
  reconnect: true
  pool: 5


# Comment the the mysql line and uncomment the postgres line
# if you want to use postgres
common: &common
  # Choose one of the following
  #<<: *postgresql
  <<: *mysql

development:
  <<: *common
  database: diasporaps_development

test:
  <<: *common
  database: diasporaps_test

production:
  <<: *common
  database: diasporaps_production
