<%- content_for :page_title do %>
  <%= t('pages.blog.menu_title') %>
<% end %>

<div class="page-header">
  <h1><%= t('pages.blog.headline') %> <small><%= t('pages.blog.subline') %></small></h1>
</div>

Ohai, blog!
