.about-page {
  .col-md-2 {
    .text-center img {
      margin-top: 70px;
    }
  }

  .col-md-3 {
    .text-center {
      min-height: 110px;
    }
  }

  .col-md-4 {
    p.desc-with-button {
      min-height: 105px;
    }
  }
}
