html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}

.navbar .navbar-inner {
  padding: 0px 15px;
}

.find_out_more {
    text-align: right;
}

#pusher {
  height: 60px;
}

footer {
  height: 40px;
  background-color: #f5f5f5;
  padding: 20px 20px 0;

  p {
    color: #666;
  }
}

body {
  font-size: 13px;
}

h1 {
  font-size: 30px;
}

h1 small {
    font-size: 18px;
}

h2 {
  font-size: 24px;
line-height: 36px;
text-align: center;
color: rgb(52, 124, 170);
font-weight: normal;
margin: 0;
padding: 0;
}

#masthead {
  text-align: center;
}

.container {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.container-fluid {
  padding: 0;
}

.container h1 {
  text-align: center;
}

#masthead.hero {
    background-color: rgb(252, 252, 252);
    background-image: radial-gradient(circle farthest-corner at 50% 50% , rgb(252, 252, 252), rgb(230, 230, 230) 100%);
}

#masthead {
  position: relative;
  background-color: rgb(252, 252, 252);
  box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.5) inset;
  border-bottom: 1px solid rgb(153, 153, 153);
  padding-top: 20px;
}

#masthead h1 {
    font-size: 54px;
    line-height: 1.3;
    margin-bottom: 0px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.8), 0px 0px 10px white;
    color: rgb(17, 17, 17);
    }

#masthead h2 {
  font-size: 24px;
  line-height: 36px;
  color: rgb(52, 124, 170);
  font-weight: normal;
}

#masthead .container {
  text-align: center;
}

.center {
  text-align: center;
}

p{
  font-size: 13px;
font-weight: normal;
line-height: 18px;
margin-bottom: 9px;
}

.navbar-fixed-top {
  #mainnav {
    margin-top: 20px;
  }

  .brand {
    padding: 5px 20px;

    #header-logo {
      height: 70px;
    }
  }

  .btn {
    margin-left: 10px;
  }
}

#main-container {
  padding-top: 70px;
}

@media (max-width: 767px) {
  .navbar-fixed-top {
    position: static;
  }

  #main-container {
    padding-top: 0;
  }

  footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 40px;
    padding-right: 40px;
  }
}


.span-one-third {
    width: 300px;
    margin-left: 20px;
    margin-top: 5px;
}

.span12 {
  width: 700px;
  height: 130px;
  position: relative;
  bottom: 20px;
}

.span4 {
  width: 210px;
}