body {
  margin-top: 70px;
}

nav.navbar-fixed-top {
  .container-fluid {
    padding-right: 30px;
  }
}

.page-header {
  h1 {
    text-align: center;
  }
}

#masthead, #footer {
  h1, p {
    color: #111;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    z-index: 30;

    a {
      color: #fff;
      font-weight: bold;
    }
  }
}

#masthead {
  background-color: #fcfcfc;
  border-bottom: 1px solid #999;
  box-shadow: inset 0 -1px 5px rgba(0, 0, 0, 0.5);
  padding-bottom: 15px;
  padding-top: 10px;
  position: relative;

  &.hero {
    margin: -19px -15px 0;
    background-color: #fcfcfc;
    background-image: -moz-radial-gradient(50% 50%, circle cover, #fcfcfc, #e6e6e6 100%);
    background-image: -webkit-radial-gradient(50% 50%, circle cover, #fcfcfc, #e6e6e6 100%);
    background-image: -o-radial-gradient(50% 50%, circle cover, #fcfcfc, #e6e6e6 100%);
    background-image: -ms-radial-gradient(50% 50%, circle cover, #fcfcfc, #e6e6e6 100%);
    background-image: radial-gradient(50% 50%, circle cover, #fcfcfc, #e6e6e6 100%);

    h1, h2 {
      text-align: center;
    }

    h1 {
      color: #111;
      font-size: 54px;
      line-height: 1.3;
      margin-bottom: 0;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.8), 0 0 10px white;
    }

    h2 {
      color: #347caa;
      font-size: 1.7em;
      font-weight: normal;
      margin-top: 5px;
    }
  }
}

footer {
  margin-top: 70px;

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;

      a {
        color: #999;
        text-decoration: none;
      }
    }
  }

  .license-text {
    font-size: 0.8em;
    margin: 3em 0 2em;
    text-align: center;
  }
}

h3.lead {
  text-align: center;
}

.feature-header-image {
  min-height: 85px;
}

.more-info {
  color: #808080;
  font-style: italic;
}

.center {
  text-align: center;
}

.top-spacing {
  padding-top: 5em;
}

.minor-top-spacing {
  margin-top: 3em;
}

.major-top-spacing {
  margin-top: 8em;
}

